body {
	display: block;
	justify-content: center;
	align-items: flex-start;
	height: calc(100vh - 100px);
	margin: 10;
	text-align: left;
	font-family: Arial, sans-serif;
	background-color: #0a0024;
}
.container {
	max-width: 600px;
}
h1 {
	font-size: 4em;
	margin: 15px 0;
	color: #ffffffc4;
	margin-top: 50px;
    margin-left: 20px;
}
h2 {
	font-size: 3em;
	margin-bottom: 20px;
	color: #ffffffc4;
}
p {
	font-size: 1.5em;
	margin-top: 80px;
	color: #bbbbbbc4;
}
a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #ff4500;
    text-decoration: underline;
}
ul {
    list-style-type: disc;
    text-align: left;
}
ul li::marker {
    color: #0ad042;
}
li {
    margin: 15px 0;
}