body {
	height: calc(100vh - 100px);
	margin: 0;
	text-align: center;
	font-family: Arial, sans-serif;
	padding-top: 100px;
	background-color: #0a0024;
}
.container {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	font-size: 6em;
	color: #ffffffc4;
}
h2 {
	font-size: 3em;
	margin-bottom: 20px;
	color: #ffffffc4;
}
p {
	font-size: 1.5em;
	margin-top: 80px;
	color: #bbbbbbc4;
}
.indexButton {
    display: block;
    margin: 50px auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 20px;
    background-color: #007BFF;
    border-radius: 5px;
	width: 100px;
}
.indexButton:hover {
    background-color: #0056b3;
}